# Configuração da Base URL (padrão em produção é /Mivlo_React/)
# VITE_BASE_PATH=/Mivlo_React/

# Configurações do EmailJS
VITE_EMAILJS_PUBLIC_KEY=X3V0LsxeybMt3sxZT
VITE_EMAILJS_SERVICE_ID=service_2t1qmzg
VITE_EMAILJS_TEMPLATE_ID=template_1vjsdqs
